
<% unless @common_shots.empty? %>

  <%= form_tag assign_badges_path(@receiver) do %>
    <div class="text-center">
     <%= select_tag 'shot_id', options_for_select(@common_shots.collect{ |cs| [cs.title, cs.id]  },label: "Choose a shot", include_blank: false) %>
    </div>
    <div class="clear"></div>
      <%= hidden_field_tag "giver_id", @giver.id %>
      <div class="badge-table">
        <% @badges.each do |badge| %>
          <div class="square-card">
            <%= render "badges/badge", badge: badge %>
          </div>
        <% end %>
      </div>
    <div class="submit">
      <%= submit_tag "Give badges", class: "btn btn-primary" %>
    </div>
  <% end %>


  <% else %>
    <p>
      You don't have any common shots with the user yet. Do you want to invite him to work on a shot together?
    </p>
  <% end %>

  <div class="clear"></div>


<%= content_for(:after_js) do %>
  <script>
    $('select').selectpicker();
  </script>
<% end %>