<h1> <%= @account.name%> </h1>
<h2>All team members</h2>
<% @profiles.each do |profile| %>
<div class="container">
  <div class="row">
      <% user = User.find(profile.user_id) %>
      <div class="col-xs-12 col-md-6">
        <%= image_tag user.picture.url(:thumb), class: "img-circle" %>
        <% if current_user == user %>
          <p> <%= link_to user.name, me_path %> </p>
        <% else %>
          <p> <%= link_to user.name, people_show_path(profile) %> </p>
          <% end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <p> Role: <%= profile.role %> </p>
        <p> Team : <%= profile.team %> </p>
      </div>
  </div>
</div>
<% end %>
