<%= form_tag send_invites_path(@invitee), method: :post %>
  <%= hidden_field_tag 'inviter_id', @inviter.id %>
  <%= hidden_field_tag 'invitee_id', @invitee.id %>

  <div class="page-title">
    <h1>Invite <%=@invitee.name %> to work on a shot</h1>
    <%= submit_tag "Invite", class: "btn btn-right btn-primary" %>
      <%= link_to "Cancel", invite_teammember_path(@invitee), class: "btn btn-right btn-default" %>
  </div>
<hr>


  <% unless @shots.empty? %>
    <div class="page-content">
      <% @shots.each do |shot| %>
        <div class="col-xs-12 col-md-4">
          <div class="square-card-invite">
            <div class="circle-container-invite">
              <% if shot.percentage_done < 10 %>
                <h3>&nbsp;<%= "#{shot.percentage_done}" %><span> % </span></h3>
              <% else %>
                <h3><%= "#{shot.percentage_done}" %><span> % </span></h3>
              <% end %>
                <div class="circle" %>>
                <%= content_tag(:div, nil, class: "bar", data: {completion_rate: "#{shot.percentage_done}"}) %>
              </div>
            </div>
            <%= check_box_tag "shots[#{shot.id}]", true, false, class: 'hide' %>
              <h4> <%= shot.title %> </h4>
          </div>
        </div>
      <% end %>
    
    <div class="clear"></div>
  <% end%>
 </div>
  



