<h1> Welcome, <%= @user.name %> </h1>
<h2> Your current profile: </h2>
<h3><%= @profile.role %> for <%= @account.name %> </h3>
<%= image_tag @user.picture.url(:medium) %>
<% if @shots_accepted.any? %>
  <div id="accepted">
    <h4>Your current shots</h4>
    <% @shots_accepted.each do |accepted_shot| %>
      <%=  render partial: "shots/small_shot", locals: {shot: accepted_shot, invitees: @invitees} %>
    <% end %>
  </div>
<% end %>
<% if @shots_pending.any? %>
  <div id="pending">
    <h4>Your pending invites</h4>
    <% @shots_pending.each do |pending_shot| %>
    <div class="pending">
      <div id=<%="#{pending_shot.id}"%> >
        <%=  render partial: "shots/small_shot", locals: {shot: pending_shot} %>

        <% pending_shot.shot_invites.where(invitee_id: current_user.id).each do |invite| %>
          <%= form_tag(shot_invite_accept_path(pending_shot, invite), method: :patch, remote:true) do  %>
            <%= hidden_field_tag "shot_invite_id", invite.id %>
            <%= submit_tag "Accept this invite", id:"accept#{pending_shot.id}" %>
            <% end %>
      </div>
            <%= form_tag(shot_invite_decline_path(pending_shot, invite), method: :delete, remote:true) do  %>
            <%= submit_tag "Decline this invite", id:"delete#{pending_shot.id}"  %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
