<h1 class="page-title"> Welcome, <%= @user.name %> </h1>
<hr>

<div class="page-content">
  <div class="mine-card">
    <div class="float-right">
      <h2> Your current profile: </h2>
      <h3><%= @profile.role.downcase %> @<%= @account.name.upcase %> </h3>
    </div>


    <div class="float-left">
      <%= image_tag @user.picture.url, class:"img-circle" %>
    </div>


    <div class="clear"></div>
  </div>
</div>
   <hr>
  <%= render 'minebar' %>

  <div id="my_current_shots">
    <% if @shots_accepted.any? %>
      <% @shots_accepted.each do |accepted_shot| %>
        <%=  render partial: "shots/small_shot", locals: {shot: accepted_shot, invitees: @invitees} %>
      <% end %>
      <% else %>
        <p>You do not have any shots in progress. Would you like to create a new one?</p>
        <%= link_to "Create a new shot", new_shot_path, class:"btn btn-primary" %>
      <% end %>
  </div>


    <div id="my_pending_shots">
      <% if @shots_pending.any? %>
        <% @shots_pending.each do |pending_shot| %>
          <div id=<%="#{pending_shot.id}"%> >
            <%=  render partial: "shots/small_shot", locals: {shot: pending_shot} %>

            <% pending_shot.shot_invites.where(invitee_id: current_user.id).each do |invite| %>
              <div class="buttons-centered">
                <ul class="list-inline">
                <li>
                  <%= form_tag(shot_invite_accept_path(pending_shot, invite), method: :patch, remote:true) do  %>
                    <%= hidden_field_tag "shot_invite_id", invite.id %>
                    <%= hidden_field_tag "shot_id", pending_shot.id %>
                    <%= submit_tag "Accept", id:"accept#{pending_shot.id}", class: "btn btn-primary" %>
                  <% end %>
                  </li>
                  <li>
                  <%= form_tag(shot_invite_decline_path(pending_shot, invite), method: :delete, remote:true) do  %>
                    <%= submit_tag "Decline", id:"delete#{pending_shot.id}", class: "btn btn-primary"  %>
                  <% end %>
                  </li>
               </ul>
              </div>
          <% end %>
        </div>
      <% end %>

      <div class="clear"></div>

      <% else %>
        <div class="page-content">
          <p> You don't have any pending shots yet.</p>
        </div>
      <% end %>
  </div>


  <div id="my_badges">
    <% unless @highfives.empty? %>
      <% @badges.each do |badge| %>
        <%= render partial: "people_badges", locals: {badge: badge} %>
      <% end %>
    <% else %>
      <div class="page-content">
        <p> You don't have any badges yet.</p>
      </div>
    <% end %>
  </div>

