<div id="profile-picture"> <%= image_tag @user.picture.url(:thumb), class: "img-circle" %></div>
<div id="profile-details">
  <h1> <%= @user.name %> </h1>
  <h3> <%= @profile.role.downcase %> @<%= @account.name.upcase %> </h3>
</div>
<div class="clear"></div>

<%= render partial: "shotsbar" %>

<div id="current_shots">
  <div class="buttons">
    <%= link_to "Send invites", invite_teammember_path(@profile), class: "btn btn-primary" %>
  </div>

  <div class="clear"></div>

  <% unless @accepted_shots.empty? %>
    <% @accepted_shots.each do |shot| %>
      <%= render partial: "shots/small_shot", locals: {shot: shot} %>
    <% end %>
    <% else %>
      <p>This user currently does not have any shots. Do you want <%= link_to "to send him a shot invite", invite_teammember_path(@profile) %>?</p>
  <% end %>
</div>

<div id="badges">
  <% unless @highfives.empty? %>
    <%= link_to "Give badges", give_badges_path(params[:id]), class: "btn btn-right btn-primary" %>
      <% @badges.each do |badge| %>
        <div class=<%= "padded badge#{badge.id}"%>>
          <div class="badge-image" data-toggle="popover" data-trigger="hover" title="<%= badge.title %>" data-content="<%= render partial: 'popover', locals: {badge: badge}%>">
            <%= image_tag badge.picture, size: "100x100" %>
          </div>
          <div class="badge-text"> x<%= badge.highfives.where("receiver_id = ?", @profile.id).count %></div>
          <div class="clear"></div>
        </div>
      <% end %>

  <% else %>
    <%= link_to "Give badges", give_badges_path(params[:id]), class: "btn btn-right btn-primary" %>
    <p> This user does not have any badges yet. Do you want to give him any?</p>
  <% end %>

</div>


<div id="all_shots">
  <div class="buttons">
    <%= link_to "Send invites", invite_teammember_path(@profile), class: "btn btn-primary" %>
  </div>

  <div class="clear"></div>
  <% unless @all_shots.empty? %>
    <% @all_shots.each do |shot| %>
      <%= render partial: "shots/small_shot", locals: {shot: shot} %>
    <% end %>
    <% else %>
      <p>This user currently does not have any shots. Do you want <%= link_to "to send him a shot invite", invite_teammember_path(@profile) %>?</p>
  <% end %>

</div>

<%= content_for :after_js do%>
<script>
$('[data-toggle="popover"]').popover({
        html: true,
        trigger: 'manual',
        container: $(this).attr('id'),
        placement: 'top',
        content: function () {
            $return = '<div class="hover-hovercard"></div>';
        }
    }).on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(this).siblings(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide")
            }
        }, 100);
    });
  </script>
  <% end %>
