<div class="page-title">
  <div id="profile-picture"> <%= image_tag @user.picture.url(:thumb), class: "img-circle" %></div>
  <div id="profile-details">
    <h1> <%= @user.name %> </h1>
    <h3> <%= @profile.role.downcase %> @<%= @account.name.upcase %> </h3>
    <%= link_to "Send invites", invite_teammember_path(@profile), class: "btn btn-primary" %>
  </div>

  <div class="clear"></div>
</div>

<div class="page-menu">
  <%= render partial: "shotsbar" %>
</div>

<div id="current_shots">
  <% unless @accepted_shots.empty? %>
    <% @accepted_shots.each do |shot| %>
      <%= render partial: "shots/small_shot", locals: {shot: shot} %>
    <% end %>
    <% else %>
      <p>This user currently does not have any shots. Do you want <%= link_to "to send him a shot invite", invite_teammember_path(@profile) %>?</p>
  <% end %>
</div>

<div id="badges">
  <% unless @highfives.empty? %>
    <%= link_to "Give badges", give_badges_path(params[:id]), class: "btn btn-right btn-primary" %>
    <% @highfives.each do |highfive| %>
      <% badge = Badge.find(highfive.badge_id) %>
      <% shot = Shot.find(highfive.shot_id) %>
      <%= shot.title %>
    <% end %>
  <% else %>
    <%= link_to "Give badges", give_badges_path(params[:id]), class: "btn btn-right btn-primary" %>
    <p> This user does not have any badges yet. Do you want to give him any?</p>
  <% end %>

</div>


<div id="all_shots">
  <div class="buttons">
    <%= link_to "Send invites", invite_teammember_path(@profile), class: "btn btn-primary" %>
  </div>

  <div class="clear"></div>
  <% unless @all_shots.empty? %>
    <% @all_shots.each do |shot| %>
      <%= render partial: "shots/small_shot", locals: {shot: shot} %>
    <% end %>
    <% else %>
      <p>This user currently does not have any shots. Do you want <%= link_to "to send him a shot invite", invite_teammember_path(@profile) %>?</p>
  <% end %>

</div>
