<div class="page-title">
  <%= image_tag @user.picture.url, size: "50x50", class: "img-circle" %>
  <h1> <%= @user.name.upcase %> </h1>
  <%= link_to "Invite to a shot", invite_teammember_path(@profile), class: "btn btn-right btn-primary" %>
  <div class="clear"></div>
</div>

<div class="page-menu">
  <%= render partial: "shotsbar" %>
</div>

<div id="current_shots">
  <% unless @accepted_shots.empty? %>
    <% @accepted_shots.each do |shot| %>
      <%= render partial: "shots/small_shot", locals: {shot: shot} %>
    <% end %>
    <% else %>
      <p>This user currently does not have any shots. Do you want <%= link_to "to send him a shot invite", invite_teammember_path(@profile) %>?</p>
  <% end %>
</div>

<div id="badges">
  <div class="buttons">
    <%= link_to "Give badges", give_badges_path(params[:id]), class: "btn btn-right btn-primary" %>
  </div>
  <div class="clear"></div>
  <% unless @highfives.empty? %>
      <% @badges.each do |badge| %>
        <%= render partial: "people_badges", locals: {badge: badge} %>
      <% end %>
  <% else %>
    <p> This user does not have any badges yet. Do you want to give him any?</p>
  <% end %>

</div>


<div id="all_shots">
  <% unless @all_shots.empty? %>
    <% @all_shots.each do |shot| %>
      <%= render partial: "shots/small_shot", locals: {shot: shot} %>
    <% end %>
    <% else %>
      <p>This user currently does not have any shots. Do you want <%= link_to "to send him a shot invite", invite_teammember_path(@profile) %>?</p>
  <% end %>

</div>

<div class="page-foot">
  <%= link_to "Back to top", "#title", class: "btn btn-default" %>
</div>


<%= content_for :after_js do%>
  <script>
  $('[data-toggle="popover"]').popover({
          html: true,
          trigger: 'manual',
          container: $(this).attr('id'),
          placement: 'top',
          content: function () {
              $return = '<div class="hover-hovercard"></div>';
          }
      }).on("mouseenter", function () {
          var _this = this;
          $(this).popover("show");
          $(this).siblings(".popover").on("mouseleave", function () {
              $(_this).popover('hide');
          });
      }).on("mouseleave", function () {
          var _this = this;
          setTimeout(function () {
              if (!$(".popover:hover").length) {
                  $(_this).popover("hide")
              }
          }, 100);
      });
  </script>
<% end %>
