<div id="profile-picture"> <%= image_tag @user.picture.url(:thumb), class: "img-circle" %></div>
<div id="profile-details">
  <h1> <%= @user.name %> </h1>
  <h3> <%= @profile.role.downcase %> @<%= @account.name.upcase %> </h3>
</div>
<div class="clear"></div>
<%= render partial: "shotsbar" %>
<% @shots.each do |shot| %>
  <%= render partial: "shots/small_shot", locals: {shot: shot} %>
<% end %>
