<div class="list-card linked-card">
  <div class="card-left">
    <div class="circle-container">
      <h3><%= "#{shot.percentage_done} %" %></h3>
      <div class="circle" %>>
        <%= content_tag(:div, nil, class: "bar", data: {completion_rate: "#{shot.percentage_done}"}) %>
      </div>
    </div>
  </div>
  <div class="card-middle">
    <h4>
      <%= link_to shot.title, shot_path(shot) %>
    </h4>
    <p>
      <%= shot.description %>
    </p>
  </div>
  <div class="card-right">
    <% shot.invitees.take(3).each do |invitee| %>
      <%= image_tag(invitee.user.picture.url, size: "50x50", class: "img-circle") %>
    <% end %>
    <div class="float-right">
      <% if shot.invitees.count > 3 %>
        <h2> + <%= (shot.invitees.count - 3)  %> </h2>
      <% end %>
    </div>
  </div>
</div>