<div class="list-card">
  <div class="card-left">
    <div class="circle-container">
      <h3><%= "#{shot.percentage_done} %" %></h3>
      <div class="circle" id=<%="circle#{shot.id}"%>>
        <%= content_tag(:div, nil, class: "bar", data: {completion_rate: "#{shot.percentage_done}"}) %>
      </div>
    </div>
  </div>
  <div class="card-middle">
    <h4>
      <%= link_to shot.title, shot_path(shot) %>
    </h4>
    <p>
      <span><i class="fa fa-bullseye"></i> <%= shot.target_value %></span>
      <span><i class="fa fa-calendar"></i> <%= shot.deadline %></span>
    </p>
  </div>
  <div class="card-right">
    <% shot.invitees.each do |invitee| %>
      <%= image_tag(invitee.user.picture.url, size: "50x50", class: "img-circle") %>
    <% end %>
  </div>
</div>