<div class="list-card">
  <div class="card-left">
    <div class="circle-container">
      <h3><%= "#{shot.percentage_done} %" %></h3>
      <div class="circle" id=<%="circle#{shot.id}"%>>
        <%= content_tag(:div, nil, class: "bar", data: {completion_rate: "#{shot.percentage_done}"}) %>
      </div>
    </div>
  </div>
  <div class="card-middle">
    <h4>
      <%= link_to shot.title, shot_path(shot) %>
    </h4>
    <p>
      <i class="fa fa-bullseye"></i><%= " #{shot.target_value}" %>
      <i class="fa fa-calendar"></i><%= " #{shot.deadline}" %>
    </p>
  </div>
  <div class="card-right">
    <% 5.times do %>
      <%= image_tag("http://placehold.it/50x50", class: "img-circle") %>
    <% end %>
  </div>
</div>



