<div class="list-card linked-card">
  <div class="card-left">
    <%= render partial: "shots/loader", locals: { percentage: shot.percentage_done } %>
  </div>
  <div class="card-middle">
    <h4>
      <%= link_to shot.title, shot_path(shot) %>
    </h4>
    <p>
      <%= shot.description.truncate_words(20) %>
    </p>
  </div>
  <div class="card-right">
    <% if shot.invitees.count > 3 %>
      <p> +<%= (shot.invitees.count - 3) %></p>
    <% end %>

    <% shot.invitees.take(3).each do |invitee| %>
      <%= image_tag(invitee.user.picture.url, size: "50x50", class: "img-circle") %>
    <% end %>
  </div>
</div>