<div class="page-title">
  <h1>Select badges for <%= @receiver.name %></h1>
  <%= link_to "Cancel", shot_path(@shot), class: "btn btn-right btn-default" %>
</div>


<div class="page-content">
  <%= form_tag highfive_create_path(@shot) do %>
    <%= hidden_field_tag 'receiver_id', @receiver.id %>
    <% @badges.each do |badge| %>
    <div class="square-card">
      <%= render "badge", badge: badge %>
    </div>
    <% end %>
    <div class="submit">
      <%= submit_tag "Give badges", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="page-foot">
  <%= link_to "Back to top", "#title", class: "btn btn-default" %>
</div>