<div class="list-card shot-highfive linked-card">
  <div class="card-left">
      <%= image_tag highfive.receiver.user.picture, size: "100x100", alt: "Profile Picture", class: "img-circle" %>
  </div>
  <div class="card-feed">
    <h4>
      <%= link_to "New badge", people_show_path(highfive.receiver), class: "label label-info" %></h4>
    <p>
      <%= "#{highfive.receiver.name} received the badge " %><strong><%= highfive.badge.title %></strong><%= " from #{highfive.giver.name}" %>
      <br>
      <span class="subtext"><i class="fa fa-calendar"></i> <%= highfive.created_at.strftime("on %m/%d at %I:%M%p") %></span>
    </p>
  </div>
</div>