<div class="list-card shot-join linked-card">
  <div class="card-left">
    <%= image_tag shot_invite.invitee.user.picture, size: "100x100", alt: "Profile pic", class: "img-circle" %>
  </div>
  <div class="card-middle">
    <h4><%= link_to "New shot member", shot_path(shot_invite.shot), class: "label label-warning" %></h4>
    <p>
      <%= "#{shot_invite.invitee.name} joined the team working on " %><strong><%= shot_invite.shot.title %></strong>
      <br>
      <span class="subtext"><i class="fa fa-calendar"></i> <%= shot_invite.updated_at.strftime("on %m/%d at %I:%M%p") %></span>
    </p>
  </div>
</div>