<div class="list-card shot-creation linked-card">
  <div class="card-left">
      <%= image_tag shot.invitees.first.user.picture, size: "100x100", alt: "Badge", class: "img-circle" %>
  </div>
  <div class="card-feed">
    <h4>
      <%= link_to "New shot!", shot_path(shot), class: "label label-primary" %></h4>
    <p>
      <%= "#{shot.shot_invites.first.invitee.name} started a new shot " %><strong><%= shot.title %></strong>
      <br>
      <span class="subtext"><i class="fa fa-calendar"></i> <%= shot.created_at.strftime("on %m/%d at %I:%M%p") %></span>
    </p>
  </div>
</div>