<div class="list-card shot-update linked-card">
  <div class="card-left">
    <%= render partial: "shots/loader", locals: { percentage: update.shot.percentage_done } %>
  </div>
  <div class="card-feed">

    <h4><%= link_to "Shot update", shot_path(update.shot), class: "label label-success" %></h4>
    <p>
      <strong><%= update.shot.title %></strong><%= " was updated by #{update.profile.name}." %>
      <br>
      <span class="subtext"><i class="fa fa-calendar"></i> <%= update.created_at.strftime("on %m/%d at %I:%M%p") %></span>
    </p>
  </div>
</div>