      <div class="sign-card">
          <div class="logosign"><%= image_tag 'logo_white.svg' %></div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              <%= f.button :submit, "SIGN IN", class: "btn btn-primary" %>
              <br>
              <span><%= render "devise/shared/links" %></span>
          <% end %>
      </div>