<div class="page-title">
  <h1>Update <strong><%= @shot.title %></strong></h1>
  <%= link_to "Back", shot_path(@shot), class: "btn btn-right btn-default" %>
</div>

<div class="page-content">
  <%= simple_form_for(@update, method: :post, url: new_update_path) do |f| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <%= f.error_notification %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <label><%= "Last update" %></label>
          <input class="form-control" id="disabledInput" type="text" placeholder=<%= "#{@shot.updates.last.current_value}" %> disabled>
        </div>
        <div class="col-xs-4">
          <%= f.input :current_value, label: 'Update value', placeholder: "#{@shot.updates.last.current_value}" %>
        </div>
        <div class="col-xs-4">
          <label><%= "Target Value" %></label>
          <input class="form-control" id="disabledInput" type="text" placeholder=<%= "#{@shot.target_value}" %> disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :description, placeholder: "Write a few words about this update..." %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 centered">
        <%= f.hidden_field :profile_id, value: current_user.profiles.first.id %>
        <%= f.hidden_field :shot_id, value: @shot.id %>
        <br>
        <%= f.button :submit, "Update shot", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="page-foot">
  <%= link_to "Back to top", "#title", class: "btn btn-default" %>
</div>